

body{
  padding: 40px;
  background-color: #121212;  
  background-image: url('iron man.png');
  background-repeat: no-repeat;
  background-position: center;
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family:'Arial';  
  font-size: 28px;
  color: gold;
}

/* Animation */
p {
   background-image: linear-gradient(to top left, red, yellow);
  animation: animated-text 1s steps(9,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 170px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: white;}
  to{border-right-color: yellow;}
}


.fade-in {
    color: white;
    font-size: 30px;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;

}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

